.box{
    width: 500px;
    text-align: center;
}
.car-info{
    margin-left: 150px;
    height: 110px;
    width: 500px;
    float: left;
    border: 1px solid black;
}
.car-info:hover{
    cursor: pointer;
}
.left-blank{
    height:100px;
    width: 100px;
    float: left;
    border: 1px solid white;
}
.right-blank{
    float: left;
    height: 101px;
    width: 500px;
    display:table-row;
}
.bottom{
    margin-left: 150px;
    float: left;
}
.container{
    height: fit-content;
    width: fit-content;
}
.text:hover{
    cursor: pointer;
    color:blue;
}
.price-text{
    color:red;
    font: bold;
    font-size: larger;
    float:right
}
.car-text{
    font-size: large;
    font:bold;
}
.info-text{
    font-size: small;
    line-height: 10px;
}
.filter-box{
    float:right;
}