<h2>{{value}}</h2>
<div class="container">
    <div *ngFor="let car of cars">
        <div *ngIf="validEntry(car.id)" class="car-info">
            <div class="car-text">
                {{car.Make}}
                {{car.Model}}
                {{car.Year}}
            </div>
            <div class="price-text">Price: {{car.Price}} </div>
            <div class="info-text">
                <p>Fuel Type: {{car.FuelType}} </p>
                <p>Mileage: {{car.Mileage}} </p>
                <p>Transmission: {{car.Transmission}} </p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div (click)="next()" class="text">Next >></div>
        <div (click)="back()" class="text">Back <<</div>
    </div>
</div>