.makeBox{
    height: 50px;
    width: 100px;
    float: left;
    align-items: center;
    text-align:center ;
    padding-top: 25px;
}
.catalogContainer{
    width: 900px;
    margin-top: 3%;
    display:table-row;
}
.makeBox:hover{
    cursor: pointer;
    background-color: lightgray;
}
.priceBox{
    height: 50px;
    width: 100px;
    float: left;
    align-items: center;
    text-align:center ;
    font-size: large;
    color: red;
    padding-top: 25px;
}
.priceBox:hover{
    background-color: lightgray;
    cursor: pointer;
}