.makeBox{
    height: 50px;
    width: 100px;
    float: left;
    align-items: center;
    text-align:center ;
}
.catalogContainer{
    width: 900px;
    margin-top: 3%;
}
.makeBox:hover{
    cursor: pointer;
}